<p>Chère/cher {{ user.username }},</p>
<p>
    Pour réinitialiser votre mot de passe, 
    <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">
        cliquer ici
    </a>.
</p>
<p>Sinon, vous pouvez copier et coller le lien suivant dans la bare de recherche de votre navigateur :</p>
<p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>
<p>Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer ce message.</p>
<p>Bien à vous,</p>
<p>Equipe ITORA</p>
<p><small>Note: les réponses à ce mail ne sont pas prises en compte.</small></p>
